github "SoySauceLab/CollectionKit"
github "marmelroy/FileBrowser"
github "WenchaoD/FSCalendar"
github "hackiftekhar/IQKeyboardManager"
github "CoderMJLee/MJExtension"
github "CoderMJLee/MJRefresh"
github "ReactiveX/RxSwift"
github "SnapKit/SnapKit"
github "facebook/SocketRocket"
github "12207480/TYCyclePagerView"
github "banchichen/TZImagePickerController"
github "ibireme/YYKit"
github "marmelroy/Zip"
github "ZipArchive/ZipArchive"